@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: #838c91;
  --background-start-rgb: #838c91;
  --background-end-rgb: #838c91;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: #838c91;
    --background-start-rgb: #838c91;
    --background-end-rgb: #838c91;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@font-face {
  font-family: trellicons;
  src: url(/fonts/trellicons-regular.ttf);
  font-weight: 400;
  font-style: normal;
}
body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #838c91;
  color: #fff;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
:focus {
  outline: 0;
}
* {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}
input,
textarea {
  font-family: monospace;
  text-rendering: auto;
  color: fieldtext;
  letter-spacing: normal;
  word-spacing: normal;
  line-height: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  appearance: auto;
  -webkit-rtl-ordering: logical;
  resize: -internal-textarea-auto;
  cursor: text;
  overflow-wrap: break-word;
  background-color: field;
  column-count: initial !important;
  margin: 0em;
  border-width: 1px;
  border-style: solid;
  border-color: light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
  border-image: initial;
  padding: 2px;
  white-space: pre-wrap;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.header-container {
  background-color: rgb(17, 17, 17) !important;
  display: flex !important;
  height: 40px !important;
  position: relative !important;
}

.header-logo {
  cursor: pointer !important;
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  opacity: 0.5 !important;
  transform: translate(-50%, -50%) !important;
  width: 80px !important;
  &:hover {
    opacity: 0.8 !important;
  }
}

.board-header-title {
  -moz-box-align: center !important;
  align-items: center !important;
  display: flex !important;
  font-size: 18px !important;
  font-weight: 700 !important;
  height: 32px !important;
  margin: 0px !important;
  padding-left: 12px !important;
}

.board-header-container {
  -moz-box-align: center !important;
  align-items: center !important;
  display: flex !important;
  padding: 8px !important;
}

.board-header-reset-button {
  background-color: rgb(90, 172, 68) !important;
  border-width: 0px !important;
  border-radius: 3px !important;
  cursor: pointer !important;
  font-size: 14px !important;
  color: rgb(255, 255, 255) !important;
  margin: 0px 0px 0px 20px !important;
  padding-left: 12px !important;
  padding-right: 12px !important;
  outline: none !important;
  line-height: 32px !important;
  height: 32px !important;
  &:hover {
    background-color: rgb(97, 189, 79) !important;
  }
  &:active {
    background-color: rgb(73, 133, 46) !important;
  }
}

.list-container-outer {
  -webkit-box-align: start !important;
  align-items: flex-start !important;
  display: flex !important;
  &:first-child {
    margin-left: 8px !important;
  }
  &:last-child {
    margin-left: 4px !important;
  }
}

.list-container {
  -webkit-box-direction: normal !important;
  -webkit-box-orient: vertical !important;
  display: flex !important;
  flex-direction: column !important;
  margin-left: 4px !important;
  margin-right: 4px !important;
  width: 272px !important;
}

.list {
  -webkit-box-direction: normal !important;
  -webkit-box-orient: vertical !important;
  background-color: rgb(235, 236, 240) !important;
  border-radius: 3px !important;
  display: flex !important;
  flex-direction: column !important;
}

.list-header {
  padding: 10px 8px !important;
  position: relative !important;
}

.list-header-title {
  color: rgb(49, 49, 49) !important;
  font-size: 14px !important;
  font-weight: 600 !important;
  padding-left: 8px !important;
  padding-right: 8px !important;
  line-height: 26px !important;
}

.list-header-more-actions-button {
  appearance: none !important;
  background-color: transparent !important;
  border: 0px !important;
  border-radius: 3px !important;
  cursor: pointer !important;
  position: absolute !important;
  height: 32px !important;
  width: 32px !important;
  padding: 0px !important;
  top: 6px !important;
  right: 8px !important;
  &:hover {
    background-color: rgba(9, 30, 66, 0.08) !important;
  }
}

.list-body {
  padding-left: 8px !important;
  padding-right: 8px !important;
  &:last-child {
    margin-bottom: 0px !important;
  }
}

.card {
  background-color: rgb(255, 255, 255) !important;
  border-radius: 3px !important;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 0px !important;
  cursor: pointer !important;
  margin-bottom: 8px !important;
}

.card-button {
  border-width: 0px !important;
  border-radius: 3px !important;
  cursor: pointer !important;
  font-size: 14px !important;
  color: rgb(255, 255, 255) !important;
  margin: 0px !important;
  outline: none !important;
  background-color: transparent !important;
  height: auto !important;
  line-height: 1 !important;
  padding: 0px !important;
  width: 100% !important;
}

.card-button-title {
  -webkit-box-align: center !important;
  align-items: center !important;
  color: rgb(49, 49, 49) !important;
  display: flex !important;
  font-size: 14px !important;
  font-weight: 400 !important;
  height: 32px !important;
  line-height: 20px !important;
  margin: 0px !important;
  padding-left: 8px !important;
  padding-right: 8px !important;
  text-align: left !important;
}

.card-button-icons-row {
  display: flex !important;
  padding-left: 8px !important;
  padding-right: 8px !important;
}

.followed-icon {
  font-size: 16px !important;
  margin-bottom: 4px !important;
  margin-left: 4px !important;
  margin-right: 4px !important;
}

.description-icon {
  font-size: 16px !important;
  margin-bottom: 4px !important;
  margin-left: 4px !important;
  margin-right: 4px !important;
}

.add-new-card-form {
  -webkit-box-direction: normal !important;
  -webkit-box-orient: vertical !important;
  display: flex !important;
  flex-direction: column !important;
  padding: 8px !important;
}

.add-new-card-form-button {
  -webkit-box-align: center !important;
  border-width: 0px !important;
  border-radius: 3px !important;
  cursor: pointer !important;
  font-size: 14px !important;
  margin: 0px !important;
  padding-left: 12px !important;
  padding-right: 12px !important;
  outline: none !important;
  align-items: center !important;
  color: rgb(97, 97, 97) !important;
  background-color: transparent !important;
  display: flex !important;
  height: 30px !important;
  line-height: 30px !important;
  text-align: left !important;
  &:hover {
    background-color: rgba(9, 30, 66, 0.08) !important;
  }
}

.add-new-card-form-button-icon {
  margin-right: 4px !important;
  position: relative !important;
  height: 20px !important;
  width: 20px !important;
}

.add-new-card-form-textarea {
  appearance: none !important;
  border-radius: 3px !important;
  border-width: 0px !important;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 0px !important;
  font-size: 14px !important;
  min-height: 72px !important;
  padding-top: 8px !important;
  padding-left: 8px !important;
  padding-right: 8px !important;
  width: 100% !important;
}

.add-new-card-form-validation-buttons-container {
  display: flex !important;
  margin-top: 4px !important;
}

.add-new-card-form-button-save {
  background-color: rgb(90, 172, 68) !important;
  border-width: 0px !important;
  border-radius: 3px !important;
  cursor: pointer !important;
  font-size: 14px !important;
  color: rgb(255, 255, 255) !important;
  margin: 0px !important;
  padding-left: 12px !important;
  padding-right: 12px !important;
  outline: none !important;
  line-height: 32px !important;
  height: 32px !important;
  &:focus {
    background-color: rgb(73, 133, 46) !important;
  }
  &:active {
    background-color: rgb(73, 133, 46) !important;
  }
  &:hover {
    background-color: rgb(97, 189, 79) !important;
  }
}

.add-new-card-form-button-cancel {
  border-width: 0px !important;
  border-radius: 3px !important;
  font-size: 14px !important;
  color: rgb(255, 255, 255) !important;
  margin: 0px !important;
  padding-left: 12px !important;
  padding-right: 12px !important;
  outline: none !important;
  line-height: 32px !important;
  background-color: transparent !important;
  cursor: pointer !important;
  height: 32px !important;
  position: relative !important;
  width: 32px !important;
  &:active {
    background-color: transparent !important;
  }
  &:focus {
    background-color: transparent !important;
  }
  &:hover {
    background-color: transparent !important;
  }
}

.add-new-card-form-button-cancel-icon {
  margin-left: 4px !important;
  position: absolute !important;
  transform: translate(-50%, -50%) rotate(45deg) !important;
  top: 50% !important;
  left: 50% !important;
  height: 20px !important;
  width: 20px !important;
}

.new-list-container {
  -webkit-box-direction: normal !important;
  -webkit-box-orient: vertical !important;
  display: flex !important;
  flex-direction: column !important;
  margin-left: 4px !important;
  margin-right: 4px !important;
  width: 272px !important;
  &:last-child {
    margin-right: 4px !important;
  }
}

.new-list-form-closed {
  -webkit-box-direction: normal !important;
  -webkit-box-orient: vertical !important;
  background-color: rgba(255, 255, 255, 0.24) !important;
  border-radius: 3px !important;
  display: flex !important;
  flex-direction: column !important;
  transition: background 85ms ease-in 0s !important;
  &:hover {
    background-color: rgba(255, 255, 255, 0.32) !important;
  }
}

.new-list-form-opened {
  -webkit-box-direction: normal !important;
  -webkit-box-orient: vertical !important;
  border-radius: 3px !important;
  display: flex !important;
  flex-direction: column !important;
  transition: background 85ms ease-in 0s !important;
  background-color: rgb(235, 236, 240) !important;
  padding: 4px !important;
}

.new-list-button {
  -webkit-box-align: center !important;
  border-width: 0px !important;
  border-radius: 3px !important;
  cursor: pointer !important;
  font-size: 14px !important;
  color: rgb(255, 255, 255) !important;
  margin: 0px !important;
  padding-left: 12px !important;
  padding-right: 12px !important;
  outline: none !important;
  line-height: 32px !important;
  align-items: center !important;
  background-color: transparent !important;
  display: flex !important;
  height: 40px !important;
  text-align: left !important;
}

.new-list-button-icon {
  margin-right: 4px !important;
  position: relative !important;
  height: 20px !important;
  width: 20px !important;
}

.new-list-form-input {
  border-style: solid !important;
  border-color: transparent !important;
  border-radius: 3px !important;
  height: 36px !important;
  margin: 0px !important;
  padding-left: 12px !important;
  padding-right: 12px !important;
  outline: 0px !important;
  width: 100% !important;
  border-width: 0px !important;
  box-shadow: rgb(0, 121, 191) 0px 0px 0px 2px inset !important;
}

.modal-card-open-background {
  background-color: rgb(0, 0, 0);
  display: block;
  height: 100%;
  position: fixed;
  opacity: 0.64;
  overflow: hidden scroll;
  top: 0px;
  left: 0px;
  width: 100%;
  zoom: 1;
  z-index: 1005;
}

.modal-card-container {
  overflow: hidden scroll;
  height: 100%;
  display: block;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 1006;
}

.modal-card-contained-container {
  -webkit-box-pack: center;
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  top: 0px;
  left: 0px;
  width: 100%;
  min-height: 100%;
}

.modal-card {
  background-color: rgb(255, 255, 255);
  border-radius: 3px;
  display: inline-block;
  text-align: left;
  position: relative;
  overflow: hidden;
  max-width: 768px;
  width: 100%;
}

.modal-card-button-close {
  cursor: pointer;
  border-radius: 50%;
  height: 32px;
  width: 32px;
  &:hover {
    background-color: rgba(9, 30, 66, 0.08);
  }
}

.modal-card-content {
  background-color: rgb(244, 245, 247);
  color: rgb(49, 49, 49);
  padding: 12px 24px;
}

.modal-card-header {
  margin-bottom: 20px;
}

.modal-card-title {
  font-size: 20px;
  font-weight: 600;
  height: 33px;
}

.modal-card-subtitle {
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  font-size: 14px;
}

.modal-card-list-title {
  text-decoration: underline;
}

.modal-card-content-body {
  margin-bottom: 20px;
  display: flex;
}

.modal-card-description-container {
  -webkit-box-flex: 1;
  flex-grow: 1;
}

.modal-card-body-title {
  font-size: 18px;
  font-weight: 600;
  line-height: 32px;
  margin-bottom: 5px;
}

.modal-card-description-text-unfocused {
  background-color: rgba(9, 30, 66, 0.04);
  border-radius: 3px;
  cursor: pointer;
  font-size: 14px;
  height: 50px;
  padding: 8px 12px;
}

.modal-card-description-form-textarea {
  appearance: none;
  border-radius: 3px;
  box-shadow: rgba(9, 30, 66, 0.13) 0px 0px 0px 1px inset;
  border-width: 0px;
  font-size: 14px;
  padding: 12px;
  width: 100%;
}

.modal-card-description-form-footer {
  display: flex !important;
  margin-top: 4px !important;
  align-items: center !important;
}

.modal-card-description-form-button-save {
  background-color: rgb(90, 172, 68) !important;
  border-width: 0px !important;
  border-radius: 3px !important;
  cursor: pointer !important;
  font-size: 14px !important;
  color: rgb(255, 255, 255) !important;
  margin: 0px !important;
  padding-left: 12px !important;
  padding-right: 12px !important;
  outline: none !important;
  line-height: 32px !important;
  height: 32px !important;
}

.modal-card-description-form-button-close {
  border-width: 0px !important;
  border-radius: 3px !important;
  font-size: 14px !important;
  color: rgb(255, 255, 255) !important;
  padding-left: 12px !important;
  padding-right: 12px !important;
  outline: none !important;
  background-color: transparent !important;
  cursor: pointer !important;
  height: 32px !important;
  position: relative !important;
  width: 32px !important;
  &:hover {
    background-color: rgba(9, 30, 66, 0.08);
  }
}

.modal-card-description-form-button-close-icon {
  margin-left: 4px !important;
  height: 20px !important;
  width: 20px !important;
}

.modal-card-actions-container {
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  display: flex;
  flex-direction: column;
  min-width: 190px;
  padding-left: 20px;
}

.modal-card-action-button {
  -webkit-box-align: center !important;
  border-width: 0px !important;
  border-radius: 3px !important;
  cursor: pointer !important;
  font-size: 14px !important;
  margin: 4px 0px !important;
  padding-left: 12px !important;
  outline: none !important;
  line-height: 32px !important;
  height: 32px !important;
  background-color: rgba(9, 30, 66, 0.04) !important;
  color: rgb(49, 49, 49) !important;
  align-items: center !important;
  display: flex !important;
  padding-right: 4px !important;
  position: relative !important;
  text-align: left !important;
}

.modal-card-action-button-follow-icon {
  -webkit-box-align: center !important;
  align-items: center !important;
  display: flex !important;
  font-size: 16px !important;
  margin-right: 2px !important;
}

.modal-card-action-button-drop-icon {
  -webkit-box-align: center !important;
  align-items: center !important;
  display: flex !important;
  font-size: 16px !important;
  margin-right: 2px !important;
}
